<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>groots app</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/reset.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel='stylesheet' href='assets/css/fullcalendar.css' />
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
	{{{ body }}}
  <footer class="page-footer green accent-4">
      <div class="footer-copyright green accent-4">
      <div class="container">
        <div class="row">
          <p class="white-text center">Copyright &copy; 2016 grootsapp. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/picker.time.js"></script>
  <script src='assets/js/moment.min.js'></script>
  <script src='assets/js/fullcalendar.js'></script>
  <script src='assets/js/gcal.js'></script>
  
  <script src="assets/js/typed.js"></script>
  <script src="assets/js/init.js"></script>

</body>
</html>
