  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo right"><img src="assets/images/logo.png" class="responsive-img" id="logo"></a>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Dashboard</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large left"><i class="material-icons">menu</i></a>
    </div>
  </nav>
