  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <div id="logo-container" class="brand-logo center"><img src="assets/images/logo.png" class="responsive-img" id="logo"></div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center green-text text-accent-3">groots</h1>
        <div class="row center">
          <h5 class="header col s12"><span>Get </span><span id="typer"></span></h5>
        </div>
        <div class="row center">
          <a href="#login" id="download-button" class="btn-large waves-effect waves-light green accent-4 modal-trigger">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <!-- Login or register modal -->
  <div id="login" class="modal">
    <div class="modal-content">
        <div class="row login-row">
            <a href="/login/google" class="btn waves-effect waves-light col s12 green accent-4 white-text login-btn" id="google-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/google-login.svg">Sign in with Google</a>
        </div>
        <div class="row login-row">
            <a href="/login/facebook" class="btn waves-effect waves-light col s12 green accent-4 white-text login-btn" id="facebook-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/fb-login.svg">Sign in with Facebook</a>
        </div>
        <div class="row login-row">
            <a href="/login/twitter" class="btn waves-effect waves-light col s12 white-text green accent-4 login-btn" id="twitter-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/twitter-login.svg">Sign in with Twitter</a>
        </div>
        <div class="row login-row">
            <a href="/login/linkedin" class="btn waves-effect waves-light col s12 white-text green accent-4 login-btn" id="linkedin-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/linkedin-login.svg">Sign in with Linkedin</a>
        </div>
    <!-- email password Login -->
{{!--       <form id="login-form" onsubmit="return false">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person outline</i>
            <input name="email" class="validate" id="email" type="email">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock outline</i>
            <input name="password" id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12 cyan" id="login-button">Login</button>
          </div>
        </div>
        </form> --}}
      </div>
    </div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center green-text text-accent-4"><i class="material-icons">group</i></h2>
            <h5 class="center brown-text">Great Things Start Small</h5>

            <p class="brown-text light">Small groups need the tools to grow. We help you get going with a simple platform to manage your members, your communications, and your events. Keep your organization focused with our drag-and-drop interface that helps you update everyone on current priorities, and let users choose their preferences so they don't miss out.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
{{!--     <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 brown-text">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div> --}}
    <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>
    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h5 class="brown-text">About</h5>
          <p class="brown-text light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>
  </div>
  </div>
