  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <div id="logo-container" class="brand-logo center"><img src="assets/images/logo.png" class="responsive-img" id="logo"></div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center green-text text-accent-3">groots</h1>
        <div class="row center">
          <h5 class="header col s12"><span>Get </span><span id="typer"></span></h5>
        </div>
        <div class="row center">
          <a href="#login" id="download-button" class="btn-large waves-effect waves-light green accent-4 modal-trigger">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax placeholder" data-large="/assets/images/background1.jpg"><img src="/assets/images/background1small.jpg" class="img-small" alt="Unsplashed background img 1">
    </div>
  </div>
  <!-- Login or register modal -->
  <div id="login" class="modal">
    <div class="modal-content">
        <div class="row login-row">
            <a href="/login/google" class="btn waves-effect waves-light col s12 green accent-4 white-text login-btn" id="google-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/google-login.svg">Sign in with Google</a>
        </div>
        <div class="row login-row">
            <a href="/login/facebook" class="btn waves-effect waves-light col s12 green accent-4 white-text login-btn" id="facebook-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/fb-login.svg">Sign in with Facebook</a>
        </div>
        <div class="row login-row">
            <a href="/login/twitter" class="btn waves-effect waves-light col s12 white-text green accent-4 login-btn" id="twitter-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/twitter-login.svg">Sign in with Twitter</a>
        </div>
        <div class="row login-row">
            <a href="/login/linkedin" class="btn waves-effect waves-light col s12 white-text green accent-4 login-btn" id="linkedin-btn"><img class="col s2 left green accent-4 login-img" src="assets/images/linkedin-login.svg">Sign in with Linkedin</a>
        </div>
    <!-- email password Login -->
{{!--       <form id="login-form" onsubmit="return false">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person outline</i>
            <input name="email" class="validate" id="email" type="email">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock outline</i>
            <input name="password" id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12 cyan" id="login-button">Login</button>
          </div>
        </div>
        </form> --}}
      </div>
    </div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center green-text text-accent-4"><i class="material-icons">group</i></h2>
            <h5 class="center green-text text-accent-4">Great Things Start Small</h5>

            <p class="brown-text light">Small groups need the tools to grow. We help you get going with a simple platform to manage your members, your communications, and your events. Keep your organization focused with our drag-and-drop interface that helps you update everyone on current priorities, and let users choose their preferences so they don't miss out.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
{{!--     <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 brown-text">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div> --}}
    <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>
    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h5 class="green-text text-accent-4">About</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="brown-text light">
            As a small team, we understand the growing pains that come with expanding in all directions while maintaining focus. We bring our daily insights into building the right features to help you get back to working on your big ideas together.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="row">
            <img class="col s4 offset-s4 m8 offset-m2 l8 offset-l2 responsive-img center circle" src="/assets/images/al.jpg" onmouseover="this.src='/assets/images/al-informal.jpg'" onmouseout="this.src='/assets/images/al.jpg'">
            </div>
            <div class="row">
            <h5 class="green-text text-accent-4 center">Albert Min</h5>

            <p class="brown-text light">Al brings over 10 years of non-profit experience, and as anyone in that sector knows, large ambitions, limited resources, and short-staffing means everyone stretches beyond their limits to reach for collective goals. He enjoys the challenges that small teams require and faces each problem as an opportunity to learn.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text text-accent-4"><i class="material-icons">group</i></h2>
            <h5 class="green-text text-accent-4 center">Wil Cook</h5>

            <p class="brown-text light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="row">
            <img class="col s4 offset-s4 m8 offset-m2 l8 offset-l2 responsive-img center circle" src="/assets/images/phil-formal.jpg" onmouseover="this.src='/assets/images/phil-informal.jpg'" onmouseout="this.src='/assets/images/phil-formal.jpg'">
            </div>
            <div="row">
            <h5 class="green-text text-accent-4 center">Philip Graham</h5>

            <p class="brown-text light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>
  </div>
  <footer class="page-footer green accent-4">
      <div class="footer-copyright green accent-4">
      <div class="container">
        <div class="row">
          <p class="white-text center">Copyright &copy; 2016 grootsapp. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

